<div class='container'>
  <div class='card'>
    <div class='card-header'>
      <h3>TinyURL - Url shortening service</h3>
    </div>
    <div class = 'card-body'>
      <form #form='ngForm'>
        <div class='form-group'>
          <label for='longURLBox'>Enter long url</label>
          <textarea rows='3' cols='50' class='form-control' id='longURLBox' name='longURLBox' [(ngModel)]='longurl'>{{longurl}}</textarea>
        </div>
        
        <div class='form-group'>
          <button type='submit' class='btn btn-primary' (click)='onClick()'>Generate!</button>
        </div>

        <div class='form-group'>
          <div *ngIf="showshorturldiv">
            <label for='shortURLBox'>Short Url</label>
            <input id='shortURLBox' name='shortURLBox' [value]='shorturl' class = 'form-control' disabled>
          </div>
        </div>
      </form>  
    </div>
  </div>
</div>